<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<body>

<section th:fragment="headSection" id="headerSection" class="py-5 ">

    <div class="primary-overlay text-white">
        <div class="container d-flex align-items-center mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="display-2 mt-5 pt-5 text-center">

                        <h1>...Welcome to Books Store...</h1>
                    </div>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aliquam at, autem distinctio dolor dolorem dolorum, est eum facilis fugiat,
                        libero neque perferendis quibusdam quidem tenetur voluptas?
                        Cupiditate id nulla velit.</p>
                    <a href="#" th:href="@{/user/allbooks}"
                       class="btn btn-sm btn-outline-secondary btn-lg text-white">
                        <i class="fas fa-arrow-right mr-2"></i>View Books
                    </a>
                </div>
                <div class="col-md-6 p-5">
                    <img src="https://images.unsplash.com/photo-1499652848871-1527a310b13a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                         alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>